.modal-container {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #ffffff;
  width: 90%;
  max-width: 500px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.modal-header h2 {
  margin: 0;
  font-size: 1.5rem;
  color: #0d0c22;
}
.modal-content hr{
  color: inherit;
    border: 0;
    border-top: var(--bs-border-width) solid;
    opacity: .25;
    margin: 0 0;
}

.modal-body {
  flex-grow: 1;
  gap: 26px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.modal-body form {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.modal-footer {
  text-align: right;
  border-top: 1px solid #eee;
  padding-top: 10px;
}
.column-flat{
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    /* background-color: #0d0c22; */
    color: #0d0c22;
}
.input-wrapper {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 4px;
}

.input-wrapper svg {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  fill: #888;
}

.input-wrapper input {
  border: none;
  outline: none;
  width: 100%;
  height: 100%;
  font-size: 14px;
  background-color: transparent;
}
.input {
  width:100%;
  height:40px;
  line-height:28px;
  padding:0 1rem;
  padding-left:2.5rem;
  border:2px solid transparent;
  border-radius:8px;
  outline:none;
  background-color:#f3f3f4;
  color:#0d0c22;
  transition:.3s ease;
}
.input::placeholder {
  color:#9e9ea7;
}
.input:focus,input:hover {
  outline:none;
  border-color:rgba(234,76,137,0.4);
  background-color:#fff;
}