.template-body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f9;
}

.body-top {
    width: 16%;
    /* background-color: red; */
    height: 100%;
    align-items: flex-start;
    justify-content: flex-start;
}

.top-bar {
    display: flex;
    
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* background-color: #111; */
    color: white;
    gap: 32px;
    padding: 10px 20px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.body-bottom {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    height: 100%;
    padding: 20px;
    background-color: #f4f4f9;
    flex-direction: column;
    align-content: space-around;
}

.right{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  .dropdown-container{
  width: 100%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}
    .panel-container {
      /* width: 100%; */
      /* margin: 20px; */
      /* background-color: red; */
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
    }

    .panel-button {
      background-color: #1C1C2E;
      color: white;
      padding: 10px;
      border: none;
      width: 100%;
      text-align: left;
      cursor: pointer;
      font-size: 16px;
    }

    .panel-content {
      display: none;
      padding: 10px;
      border: 1px solid #ccc;
      border-top: none;
      
      background-color: #f9f9f9;
      animation: slideDown 0.3s ease forwards;
    }

    .panel-content.show {
      display: block;
    }

    @keyframes slideDown {
      from { opacity: 0; transform: translateY(-5px); }
      to { opacity: 1; transform: translateY(0); }
    }
   .logo h1{
      color: #f4f4f9;
      font-size: 20px;
    }
    .panel-wrapper{
      width: 90%;
      height: 90%;
      display: flex;
      flex-direction: column;
      /* background-color: rebeccapurple; */
      gap: 20px;
    }
    /* From Uiverse.io by AbanoubMagdy1 */ 
.wave-group {
  position: relative;
}

.wave-group .input-wave {
  color: white;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;
}

.wave-group .input-wave:focus {
  outline: none;
}

.wave-group .label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  display: flex;
}

.wave-group .label-char {
  transition: 0.2s ease all;
  transition-delay: calc(var(--index) * .05s);
}

.wave-group .input-wave:focus ~ label .label-char,
.wave-group .input-wave:valid ~ label .label-char {
  transform: translateY(-20px);
  font-size: 14px;
  color: #5264AE;
}

.wave-group .bar {
  position: relative;
  display: block;
  width: 200px;
}

.wave-group .bar:before,.wave-group .bar:after {
  content: '';
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.wave-group .bar:before {
  left: 50%;
}

.wave-group .bar:after {
  right: 50%;
}

.wave-group .input-wave:focus ~ .bar:before,
.wave-group .input-wave:focus ~ .bar:after {
  width: 50%;
}

